@font-face {
    font-family: "Raleway";
    src: url(raleway/Raleway-Regular.ttf)format("truetype");
}
body
{
    font-family: Raleway, Arial, Helvetica, sans-serif;
}
#main
{
    font-size: large;
    width: auto;
    margin: auto;
}
.display
{
    display: flex;
}
#logo_reservia
{
    height: 50px;
    width: 70px;
}
nav
{
    justify-content: flex-end;
}
a
{
    color: inherit;
    text-decoration: none;
}
.etoile_vide
{
    color: #3533333f;
}
.fleche
{
    color: black;
}
span
{
    color:#0065FC;
}
ul
{
    justify-content: space-around;
    list-style-type: none;
    width: 400px;
}
h1, h2, h3, h5, #champ_de_recherche
{
    font-weight: bold;
}
h1
{
    font-size: 23px;
    margin-top: 20px;
}
h2
{
    font-size: 18px;
}
nav strong
{
    color:#0065FC;
}
nav li
{
    padding-top: 50px;
    margin-bottom: -50px;
}
nav li:hover
{
    border-top: 2px solid #0065FC;
    color:#0065FC;
}
label i
{
    position: relative;
    bottom: 1px;
    height: 26px;
    background-color:#F2F2F2;
    padding: 8px 15px 6px 15px;
    margin-right: -5px;
    border-radius:10px 0px 0px 10px;
}
#champ_de_recherche
{
    text-indent: 5px;
    height: 40px;
    border:1px solid #F2F2F2; 
}
#button
{
    height: 40px;
    margin-left: -5px;
    border-radius: 0px 10px 10px 0px;
    background-color:#0065FC;
    color: white;
    border:none;
    padding-right: 20px;
    padding-left: 20px;
}
#button:hover
{
   border:1px solid black;
}
#filtres
{
    justify-content: flex-start;
    margin-top: 20px;
}
#filtres p
{
    border: 2px solid rgba(128,128,128,0.4);
    height: 20px;
    padding: 10px 30px 10px 30px;
    border-radius: 50px 50px 50px 50px;
    font-weight: bold;
    font-size: medium;
    margin-left: 30px;
}
#filtres h3
{
    margin-top: 30px;
}
#filtres span
{
    background-color: #DEEBFF;
    margin-right: 20px;
    margin-left: -40px;
    padding: 13px 11px 13px 14px;
    border-radius: 100%;
}
#filtres i
{
    color:#0065FC;
    width: 20px;
}
#filtres p:hover
{
    border: 3px solid rgba(128,128,128,0.4);
}
#info i
{
    border:1px solid rgba(128,128,128,0.4); 
    padding: 4px 10px 4px 10px;
    border-radius: 100%;
    color:#0065FC;
}
#onglets
{   
    height: auto;
    flex-wrap: wrap;
}
#section_1 figure
{
    border: 4px solid white;
}
figure
{
    box-shadow: 1px 1px 5px 1px grey;
    border-radius: 20px;
}
figure:hover
{
    transform: scale(1.05);
}
#onglets figure
{
    background-color: white;
    height: 170px;
    width: 220px;
    margin-left: 32px;
}
.hebergements img
{
    width: 100%;
    height: 90px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
#hebergements_marseille
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 900px;
    flex-wrap: wrap;
    height: 600px;
}
#section_1 h2, #section_2 h2
{
    margin:30px 0px 10px 30px;
    font-size: 20px;
}
.hebergements figcaption
{
    margin-left: 2px;
    font-size: 12px;
    background-color:white;
    text-align: justify;
}
#section_1 h3, #section_1 p, #section_1 span
{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
}
#afficher_plus
{
    font-weight: bold;
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
}
aside
{
    flex-direction: column;
    background-color: #F2F2F2;
    margin-left: 30px;
    border-radius: 20px;
}
aside h2 i
{
    position: relative;
    left: 60px;
}
aside figure
{
    height: 120px;
    width: 280px;
    background-color: white;
}
aside img
{
    width: 100px;
    border-radius: 20px 0px 0px 20px; 
    height: 120px;
    object-fit: cover;  
}
aside figcaption
{
    font-size: 12px;
    height: 100px;
    width: 160px;
    padding-top: 10px;
    margin-left: 100px;
    margin-top: -124px;
    background-color: white;
    border: 6px solid white;
}
#section_2
{
    flex-direction: column;
    margin-top: 40px;
    margin-left: -10px;
}
#activites 
{
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    width: 250px;
}
#activites h5
{
    margin-bottom: 20px;
    top: -10px;
}
#activites figcaption
{
    margin-left: 10px;
    padding-bottom: 1px;
    width: auto;
}
#section_2 img
{
    object-fit: cover;
    height: 400px;
    width: 250px;
    border-radius: 20px 20px 0px 0px;
}
footer
{
    background-color: #F2F2F2;
    text-align: justify;
    font-size: 90%;
    width: 1400px;
}
footer h5
{
    margin-left: 40px;
    font-size: 100%;
}
footer article
{
    margin-left: 40px;
}
@media screen and (max-device-width: 1024px)
{
    #hebergements_marseille
    {
        height: 800px;
    }  
    #activites_marseille, footer
    {
        overflow-x: scroll;
    }
    footer
    {
        width: auto;
    }
}
@media screen and (max-device-width: 768px)
{
    #section_1
    {
        flex-direction: column;
    }
    #hebergements_marseille
    {
        height: auto;
        width: 100%;
    }  
    aside
    {
        margin-top: 20px;
        margin-left: 1px;
    }
    #activites_marseille
    {
        overflow-x: scroll;
    }
    #filtres
    {
        flex-wrap: wrap;
    }
}
@media screen and (max-device-width: 425px)
{
    body, #main
    {
        width: auto;
        font-size: 1.0em; 
    }
    #main h1, header p, #recherche_ville
    {
        text-align: center;
    }
    #recherche_ville
    {
        margin-top: 40px;
        margin-bottom: -20px;
    }
    footer
    {
        flex-direction: column;
        margin-top: 30px;
        width: auto;
    }
    #filtres
    {
        flex-direction: column;
        width: 260px;
    }
    #filtres p
    {
        font-size: 0.9em;
    }
    nav ul
    {
        flex-wrap: wrap-reverse;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 120px;
    }
    #logo_reservia
    {
        position: absolute;
        top: 54px;
    }
    .li_1
    {
        position: relative;
        text-align: center;
        top: 60px;
        right: 30px;
       
    }
    .li_2
    {
        position: relative;
        text-align: center;
        top: 60px;
        left: 60px;
        
    }
    label i
    {
        bottom: 3px;
    }

    #section_1 
    {
        flex-direction: column-reverse;
        height: auto;
        width: auto;
    }
    aside
    {
        border-radius: 0em;
        width: 100%;
        margin: auto;
    }
    #onglets_aside figure, #onglets figure, #activites_marseille figure
    {
        width: auto;
    }
    #onglets_aside figcaption, #onglets figcaption, #activites_marseille figcaption
    {
        width: auto;
        border-radius: 0px 20px 20px 0px;
    }
    #hebergements_marseille
    {
        background-color: white;
    }
    #onglets, #onglets_activites
    {
        width: auto;
        height: auto;
    }
    #hebergements_marseille, #activites, #activites_figure
    {
        width: auto;
    }
    #activites, #activites_figure
    {
        height: auto;
    }
    #activites img
    {
        width: 100%;
        height: 150px;
    }
}
